.password-container {
    position: relative;
    display: inline-block;
}

.password-container button {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: #333;
    cursor: pointer;
}



