.password-container {
    position: relative;
    display: inline-block
}

#passwordVisibilityBtn,
#newPasswordVisibilityBtn,
#confirmPasswordVisibilityBtn {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    color: #333;
    cursor: pointer
}